$main-color = #29C6CD;
$gradient-color-1 = #36B1DA;
$gradient-color-2 = #29C6CD;
$main-font = Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@import 'partial/_base.styl';
@import 'partial/_content.styl';
@import 'partial/_highlight.styl';

b, strong {
  font-weight: bold;
}

li:before {
  content: '\1F31F';
  margin-left: -23px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

code {
  background: #efefef;
  box-shadow: 0 2px 0 rgba(84, 94, 111, 0.4);
  padding: 0 6px 2px;
  border-radius: 5px;
  color: #3cbbb0;
  font-weight: 500;
  margin: 0;
  letter-spacing: -0.4px;
  white-space: nowrap;
}

a > code {
  text-decoration: underline;
}

img {
  transition: all 1s;

  &:hover {
    transform: scale(1.05);
  }
}

body {
  transition: all 0.8s;

  &.night-mode {
    background: #000;
    filter: invert(1) hue-rotate(210deg);

    img {
      filter: invert(1);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  top: -2px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: transparent;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider {
      i[class~='fa-sun'] {
        visibility: hidden;
      }

      i[class~='fa-moon'] {
        visibility: visible;
        transform: translateX(26px);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.4s;

  i {
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;

    &[class~='fa-moon'] {
      visibility: hidden;
    }
  }

  &.round {
    border-radius: 34px;

    i {
      border-radius: 50%;
    }
  }
}
