<%# google adsense %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1544182531179563",
    enable_page_level_ads: true
  });
</script>

<%# CHITIKA %>
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"ashkeys","width":550,"height":250,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>

<%#  infolinks.com %>
<script type="text/javascript"> var infolinks_pid = 3174372; var infolinks_wsid = 0; </script>
<script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
