<!-- night-mode -->
<script>
    function toggle(nightMode) {
        nightMode === "true" || nightMode === true ? document.body.classList.add("night-mode") :
            document.body.classList.remove("night-mode");
        window.localStorage.setItem('ashokma.com.nightmode', nightMode);
    }

    toggle(window.localStorage.getItem('ashokma.com.nightmode'));

</script>

<label class="switch link dim f6 f5-l dib mr3 mr4-l white">
    <input type="checkbox" onchange="toggle(this.checked);" id="nightModeIndicator">
    <span class="slider round">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
    </span>
</label>

<script>
    (function () {
        document.getElementById('nightModeIndicator').checked = window.localStorage.getItem('ashokma.com.nightmode') === "true"
    })();
</script>